section.intro {
  width: 100%;
  padding: 80px 15px;
  text-align: center;
  color: #fff;
  background-color: rgb(78, 78, 78);

  h1 {
    font-family: Lato, sans-serif;
  }

  p {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
